body {
    font-family: Verdana;
    font-size: 13px;
    color: #333;
    background: #f3f3f3;
}

a {
    color: #cb2c2c;
    text-decoration: none;
}

a[href$=".jpg"]::after {
	content:"(jpg)";
	font-size:10px;
	color:#888;
}

a[href$=".png"]::after {
	content:"(png)";
	font-size:10px;
	color:#888;
}

a[href$="mp3"]::after {
	content:"(mp3)";
	font-size:10px;
	color:#888;
}

/* Выделение ссылок с заданным http://
a[href^="https://"] {
	
}
*/

/*
a[title~="my-title"] {

}
*/

/*  Добавляет после ткста текст
h2::after {
	content: 'Кстати: ';
	font-size: 10px;
}

/* Добавляет перед ткстом текст 
h2::before {
	content: 'Кстати: ';
	font-size: 10px;
}
*/

/* Выбираем элемент внутри родителя
li:first-child {
	color: red;
}
*/

/*
h4 ~ li {
	color:red;
}
*/
 
/*
:active
:focus
*/

/* Класс действия ссылки 
:link {
	border-bottom: 1px dashed #444;
}
*/
/*
a[href$=".jpg"]::after {
    content: ' (jpg)';
    font-size: 10px;
    color: #888;
}

a[href$=".png"]::after {
    content: ' (png)';
    font-size: 10px;
    color: #888;
}

a[href$=".mp3"]::after {
    content: ' (mp3)';
    font-size: 10px;
    color: #888;
}
*/
