#table1 {
		width: 700px;
		height: 150px;
		border: 0px solid #000000;
		border-collapse: collapse;
	}

	#table2{
		width: 700px;
		height: 150px;
		border: 0px solid #000000;
		border-collapse: collapse;
	}

	#table3{
		width: 420px;
		height: 70px;
		border: 0px solid #000000;
		border-collapse: collapse;
	}

	#table4{
		width: 400px;
		height: 150px;
		border: 0px solid #000000;
		border-collapse: collapse;
	}

	td {
		border: 1px solid #000000;
	}

	fieldset{
     	border-color: red;
     	width: 400px;
 	}

 	input.widthfield{
        width: 300px;
        text-transform: capitalize;
    }

    input.email{
        width: 300px;
    }

    input.pass{
        width: 300px;
    }

    input.http{
    	width: 300px;
    }

    input.http:focus{
    	width: 300px;
    	background-color: #B3E5FC; /* Цвет фона */
    	color: #7C4DFF; /* Цвет текста */
    }

    input.submit:active{
    	background-color: #B3E5FC;
    	color: #7C4DFF    
    }

    input.reset:active{
    	background-color: #FF9800;
    	color: #FF4081;    
    }


   #footer {
    	position: relative; /* Фиксированное положение */
    	left: 0; bottom: 0; /* Левый нижний угол */
    	padding: 10px; /* Поля вокруг текста */
    	background: ; /* Цвет фона */
    	color: #000; /* Цвет текста */
    	width: 50%; /* Ширина слоя */
   	}

   .outline{
    	outline: 0px solid #FF0000; /* Параметры рамки */
    }

   .outline:hover{
    	outline: 2px solid #666; /* Параметры рамки */
    }