	input[type= text] {width: 212px; height: 20px; border: solid 2px #B99DAC;}
    input[type= button] {height: 30px; border: solid 1px #FFFFFF; background-color: #404040; font-weight:bold; color: #FFFFFF; }


h1 
{
color: #FFFFFF;
text-align: left;
}
h3 
{
color: #FFFFFF;
text-align: left;
}
i
{
color: #FFFFFF;
text-align: left;
}
body {
  color: #FFFFFF;
  background-color: #404040;
}
div
{
   position: fixed;
   top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    width: 300px;
	    height: 300px;
}
