body {
	font-family:Arial;
	color:#444;
}

.container {
	background:#ccc;
	border:3px solid #777;
}

.container::after {
	content:".";
	display:block;
	clear:both;
	height:0;
}

p {
	padding:15px;
}

img {
	float:left;
}

.text1 {
	float:left;
	width:300px;
}

.text2 {
	clear:both;
}

.clear {
	clear:both;
}