body {
	background:url(http://subtlepatterns.
		com/patterns/light_noise_diagonal.png);
	font:1em 'PT Sans',Tahoma,Arial;
}

#wrapper {
	-moz-perspective:500px;
	width:400px;
	height:200px;
}

#myframe {
	width:450px;
	height:350px;
}

#container {
	background:rgba(0,0,0,.3);
	width:450px;
	height:350px;
	margin:80px;
	line-height:150px;
	text-align:center;
	font-size:1.2em;
	color:#fff;
	border:3px solid #fff;
	border-radius:8px;
	
	
	
	/* 2-x мерные трансформации 
	transform:translate(110px,80px) rotate(-30deg);
	*/
	
	/* 3-х мерные трансформации*/
	/*-moz-transform:rotateY(40deg);*/
	/* Относительно 3-х осей*/
	-moz-transform:rotate3d(1,1,1,40deg);
	
}