.container {
	width:700px;
	height:400px;
	border:3px solid #999;
	margin:20px;
	
	
	background:#778899
	url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSpnrc9QtJUbrfGGZuWfptT3cDvmk98caor8intJGp3COZ302z8wg)
	center no-repeat;
	
	/*
	background-repeat:no-repeat repeat;
	background-position:center;
	background-size:80px,200px;
	*/
}