body {
	background:
	url(http://subtlepatterns.com/patterns/subtlenet2.png);
}

.container {
	width:400px;
	height:300px;
	float:left;
	margin:40px;
	background:#999;
	overflow:hidden;
	position:relative;
	cursor:pointer;
	
	border-radius:5px;
	box-shadow:0 8px 15px rgba(0,0,0,.6);
	
	
	/*
	background:-moz-radial-gradient(center,red 10%,#aaa 30%,#333 70%,#bbb 100%);
	background:-moz-linear-gradient(70% 10%,#333,#bbb);
	*/
}

.container::after {
	content:'';
	width:400px;
	height:300px;
	display:block;
	position:absolute;
	top:0;
	left:0;
	
	transition:opacity .3s;
	
	/*  Также существует Линейный Градиент  */
	background:
	-moz-radial-gradient(transparent,rgba(0,0,0,.7));
	-webkit-radial-gradient(transparent,rgba(0,0,0,.7));
	-o-radial-gradient(transparent,rgba(0,0,0,.7));
	radial-gradient(transparent,rgba(0,0,0,.7));
}

.container:hover::after {
	opacity:0;
}