.p1
{
 border-top-width: medium;
 border-top-style: dashed;
 border-top-color: blue;
 
 border-bottom-width: medium;
 border-bottom-style: dashed;
 border-bottom-color: green;
 
 border-right-width: medium;
 border-right-style: dashed;
 border-right-color: red;
 
 border-left-width: medium;
 border-left-style: dashed;
 border-left-color: gold;
 

padding-top: 30px;
padding-left: 30px;
padding-right: 100px;
padding-bottom: 30px;

margin-top: 80px;
margin-left: 80px;
margin-bottom: 80px;
margin-right: 80px;

text-align: right;

}

.p2
{
 border-top: 2px solid blue;
 border-bottom: 2px solid green;
 border-right: 2px solid red;
 border-left: 2px solid gold;
 
 width: 700px;
 height: 700px;
}