/*  Это пример универсального селектора  */
*
{
 color: orange;
}

/*  Это пример селектора типа  */
p
{
 text-align: center;
}

/*  Это пример селектора класса  */
p.blue, .remark
{
 color: blue;
}


/*  Это пример селектора ID  */
#abzac
{
 font-weight: bold;
}

/*  Это пример селектора потомков  */
DIV P
{
 color: green;
} 

/*  Это пример селекторов псевдоклассов  */
*:hover
{
 color: green;
}

A
{
 color: black;
}

A:visited
{
 color: pink;
}