/* @media print {
	
	body {
		background:#fff;
	}
	
	#navigation,
	.search,
	#sidebar {
		display:none;
	}
	
	#article {
		width:100%;
		float:none;
	}
	
}

*/

body {
	background:#fff;
}

#navigation,
.search,
#sidebar {
	display:none;
}

#article {
	width:100%;
	float:none;
	padding:0;
}

#page {
	width:100%;
	padding:10px;
	box-sizing:border-box;
}

.logo img {
	width:100%;
}